.stories,
.directory {
  margin-top: 1.5rem;
  height: 85vh;
  overflow-y: scroll;
}

.stories h2,
.directory h2 {
  font-weight: 300;
  letter-spacing: -1px;
}

.card {
  background: transparent;
  margin-bottom: 1.5rem;
}

.card-header {
  font-weight: 600;
}

.card-body {
  padding-top: 0;
}

.blockquote h5 {
  color: #fd7e14;
  font-weight: 600;
  font-style: italic;
}

.blockquote p {
  font-size: 0.9rem;
}

.listings {
  list-style: none;
  padding: 0;
}

.listings li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 1rem;
  margin-bottom: 1.25rem;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #fff;
  border-radius: 4px;
}

.listings p {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 700;
}

.listings h4 {
  font-size: 1rem;
  font-weight: 300;
}
